*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 0.8%;
   }
   nav{
       display: flex;  
       align-items: center;
       flex-wrap: wrap;
       padding: 20px 0;
   }
   .nav-logo img{
       width: 160px;
   }
   .nav-links{
       display: flex;
       flex: 1;
       align-items: center;
        justify-content: space-between;    
   }
.nav-links a{
    text-decoration: none;
    color: white;
    margin-left: 40px;
} 
.btn{
    background: #fff;
    padding: 8px 30px;
    border-radius: 4px;
}
.search-box{
    background: white;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 18px 20px;
    border-radius: 5%;
    margin: 20px 0;

}
.content{
    margin-top: 180px;
    color: white;
}
.content h1{
    font-size: 60px;
}
.search-box input{
    background: transparent;
    width: 600px;
    border: 0;
    outline: mone;
}
.search-box button{
    background: transparent;
    border: 0;
    cursor: pointer;
}
.search-box button img{
    width: 22px;
}
@media (max-width:700px){
    .search-box input{
        width: 230px;
    }
    .nav-logo{
        flex-basis: 100%;
        margin-bottom: 10px;
        text-align: center;
    }
    .nav-links{
        justify-content: center;
    }
    .nav-links a{
        margin-left: 10px;
        margin-right: 10px;
    }
    .content h1{
        font-size: 30px;
    }
} 